---
title: Services
layout: application
entry_layout: post_layout
order: 2
---

<%= @page.layout %>

<%= nav "services", :class => "services-nav" %>


<h1><%= @page %></h1>
<%= nav @page.parent.path %>

