---
title: Holmes Millet
activities: [Fishing, Camping, Pancakes]
filter: !ruby/regexp /test/ix
documents:
  doc1:
    title: Doc 1
    description: Document 1 is fantastic
  doc2:
    title: Doc 2
    description: Document 2 is more fantastic
  doc3:
    title: Doc 3
    description: Document 3 is just right
contacts:
  -
    name: Person A
    email: persona@example.com
  -
    name: Person B
    email: personb@example.com
---

- @page.documents.keys.each do |key|
  = @page.documents[key].title
