---
title: Holmes Millet
activities: [Fishing, Camping, Pancakes]
filter: !ruby/regexp /test/ix

contacts:
  -
    superhero: The Meat Tornado
    superpowers: [Destroying the world with piles of meat, Bacon]
    weakness: Maranade
    email: meatbaby@example.com
  -
    superhero: 2D Man
    superpowers: [Fitting in between cracks and under doors]
    skills:
      -
        name: skill 1
        level: 5
      -
        name: skill 2
        level: 5
    weakness: Scissors
    email: flatisasflatdoes@example.com
---

= nav :root, :levels => 4


- @page.contacts do
  %ul
    %li Superhero: #{superhero}
    - if skills
      %li
        Skills:
        %ul
          - skills do
            %li #{name} #{level}


    - if superpowers && superpowers.length > 0
      %li
        Superpowers:
        %ul
          = superpowers.class
          - superpowers do
            %li #{value}
    - elsif superpower || superpowers
      %li Superpower: #{superpower || superpowers.first}

    - if weakness
      %li Weakness: #{weakness}
    - else
      %li Weakness: Unknown
    - if email
      %li
        %a(href="mailto:#{email}") Email Him

- image "/assets/test-image.jpg", width: 400, density: 1.5 do |image|
  %img{src: image.url, width: image.width, height: image.height}

= image "/assets/test-image.jpg", width: 400, density: 1.5

%hr

%ul
  - @page.services do
    %li #{name}



= nav "/services"

%section.blog
  %aside
    %h3 HM Interactive
    .date Date #{DateTime.now}
  %article
    :markdown
      # Fun Markdown
      
       - ok wow
       - cool
       - date from ruby `#{DateTime.now}`
    .topic
      Test
    .topic
      Test2
    %button ok

