//
// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the top of the
// compiled file, but it's generally better to create a new file per style scope.
//
//= require_self

$visual-grid: true

@import "bourbon"

@import "grid-settings"
@import "neat"

body
  font-family: $helvetica
  font-size: golden-ratio(14px,  0)
h1
  font-size: golden-ratio(14px,  3)
h2
  font-size: golden-ratio(14px,  2)
h3
  font-size: golden-ratio(14px,  2)
h4
  font-size: golden-ratio(14px,  1)
h5
  font-size: golden-ratio(14px,  1)
h6
  font-size: golden-ratio(14px,  0)

article, a.btn, .btn
  margin: 2px
  +button(#ff0000)
  //+button(pill,#ff0000)

.nav-container
  +outer-container

  ul.nav-breadcrumbs
    list-style: none
    >li
      display: inline-block
      //padding-right: 20px
    >li:after
      content: ">"
      padding-right: 10px
      padding-left: 10px
      color: gray
      text-decoration: none
      //position: absolute
      text-align: center
      width: 20px
    >li.inactive>a
      color: gray
      text-decoration: none
    >li.current>a
      color: black
      text-decoration: none
    >li.current:after
      display: none


ul.main-nav
  +outer-container
  >li
    +media($desktop)
      +span-columns(3)
      +omega(4n)
    +media($tablet)
      +span-columns(3)
      +omega(3n)
    +media($mobile)
      +span-columns(3)
      +omega(2n)
    >a
      width: 100%

  li.active a
    color: red

  list-style:none
  padding-left: 0px
  ul
    padding-left: 0px
    list-style:none
    float:clear
  >li
    vertical-align: top
    float: left
    display: inline-block
    list-style-type: none
    >ul
      position: absolute
    position: relative
  >li>a
    +button(#555555)
    border-radius: 0px
  >li>ul
    //background: gray
    min-width: 100%
  li
    white-space: nowrap
    margin-left: 0px
    list-style-type: none
  
  +media($desktop)
    >li:hover>ul
      +transition(opacity 0.5s, margin-left 0s)
      margin-left: 0px
      pointer-events: inherit
      opacity: 1.0
  >li>ul
    display: block
    +transition(opacity 0.2s, margin-left 1.0s)
    opacity: 0.0
    margin-left: -200px
    pointer-events: none
    a
      +button(white)
      border-radius: 0px
      width: 100%
    >li>ul>li>a
      padding-left: 30px


section.blog
  +outer-container

  aside
    @include transform-origin(left center)
    border-radius: 20px
    +transition(all 0.2s)
    +linear-gradient(white, gray)
    +span-columns(4)
    +media($desktop)
      background-color: #eeeeee
      +pad
    +media($mobile)
      +transform(rotate(-90deg))
      +span-columns(4)

  article
    +transition(all 0.2s)
    +span-columns(8)
    h1
      font-size: 50%
    +media($desktop)
      h1
        font-size: 150%
    +media($tablet)
      h1
        font-size: 150%
    +media($mobile)
      +span-columns(12)
      h1
        font-size: 250%