<!DOCTYPE html>
%html
  %head
    %title= @page.title
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - nav entries("/", true).sort_by{ |entry| entry.order ? entry.order.to_i : 1000 }, :class => "main-nav", :levels => 3
    = nav :root, :class => "main-nav", :levels => 3

    //.siblings(style="background: red")
    //  = nav @page.siblings(:include_root => true)

    .nav-container
      = nav @page.siblings, :exclude => @page
      = breadcrumbs @page, :class => "nav-breadcrumbs", :include_self => true
      = nav @page.children

    %h1= @page.title
    = yield
    
    %hr
    = @page.inspect